
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #396EB0;
}
body {
    font-size: 100%;
    /* min-width: 920px; */
    background-color: white;
    margin: 0 auto;
}

/* -------style for header-------- */

.cmnHead {
    /* border: red solid 2px; */
    /* padding: 2px; */
    background-color: #2E4C6D;
    /* margin: 0 auto; */
    color: white;
    /* width: auto; */
    height: 90px;
    padding-top: 20px;
    padding-left: 40px;
}

.cmnHead img {
    width: 75px;
    float: left;
}

.cmnHead p {
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 100px;
}

/* -----------navigatoin menu------------ */

/* 
** formatting the look 
*/
#cmnNav * {
    margin: 0;
    padding: 0;

    /* box-sizing: border-box; */
}

#cmnNav a {
    color: black;
    background-color: #DADDFC;
    display: block;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 50px;
}

#cmnNav a:hover {
    background-color: #2E4C6D;
    color: white;
}

#cmnNav ul {
    list-style-type: none;
    display: flex;
}

#cmnNav li {
    width: 100%;
    text-align: center;
    position: relative;
}

/* 
** dropdown function 
*/
#cmnNav li:hover .submenu1 > li {
    display: block;
    top: 0px;
}

.submenu1 li {
    display: none;
    /* position: absolute;
    top: 0px; */
}

.submenu1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

/* .submenu1 li {
    position: relative;
} */

.submenu1 li:hover .submenu2 li {
    display: block;
}

.submenu2 li {
    display: none;
}

.submenu2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 100%;
}


/* --------footer---------- */
/* copy from temp */

#bottom{
    background-color: #2E4C6D;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-bottom: 0;
    padding: 2px;
}

#bottom a {
    text-decoration: none;
    color: white;
}

.highfooter{
    width: 70%;
    margin: 0 auto;
    padding: 15px 0;
    display: grid;
    border-radius: 15px;
    grid-template: auto / repeat(3, 1fr);

}
.highfooter p{
    padding: 5px;
}

/* ------style for screen width less than 920px---------- */

@media only screen and (max-width: 420px) {
    .cmnHead p {
        font-size: 1em;
        margin-top: 2em;
    }

    #bottom {
        width: auto;
    }

    /* mobile style for navigation */
    #nav {
        flex-direction:column;
        justify-content:space-between;

    }

    .highfooter {
        grid-template: auto / repeat(2, 1fr);
    }
}

@media only screen and (max-width: 420px) {
   
}
